@import "./components/modal.scss";
@import "./components/RecommendedProducts.scss";
@import "./components/NumberInput.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.scroll-auto {
  scroll-behavior: auto;
}

img {
  max-width: 100%;
}

@media (max-width: 640px) {
  .container {
    width: 90% !important;
  }
}
